$White: #fff;
$Red: #f00;
$Gray: #ccc;
$Skyblue: #b3d4fc;
$Whitesmoke: #F5F5F5;
$ThinGray:#EEE;
$linkBlue:#0099e8;
$ButtonBlue:#369AE8;
$Black: #212121;
$Navy: #385185;
$Rouge: #DC4E41;
$Lightgray: #F5F5F5;
$Lightblue:#56C9FB;
