.items-box-content.clearfix
  - products.each do |product|
    %section.items-box
      = link_to(product_path(product)) do
        .items-box-photo
          = image_tag(product.images.first.image, class: "items-box-photo-photo")
        .items-box-body
          %h3.items-box-name.font-2
            = product.name
          .items-box-num.clearfix
            .items-box-price.font-5
              ¥
              = number_with_delimiter(product.price)
            .items-box-likes.font-2
              %i.like.font-2
            %p.item-box-tax
              （税込）
