.mypage
  .mypage_contents
    .mypage__content-box
      .mypage__tabs-top
        =link_to mypage_notification_path, class: "mypage__tabs-list" do
          .mypage__tabs-text おしらせ
        =link_to mypage_todo_path, class: "mypage__tabs-list" do
          .tab-active
            .mypage__tabs-text やることリスト
      .mypage__no-item
        .mypage__no-item-icon
          .mypage__no-item-top
        .mypage__no-item-text 現在、やることリストはありません
