.transaction-product-container {
  background-color:$White;
  width: 700px;
  margin:0 auto;
  font: 66.66667% sans-serif;
  &__head {
    border-bottom:1px solid $ThinGray;
    margin: 0;
    padding:24px 8px;
    text-align:center;
    font-size: 28px;
    font-weight: 600;
  }

  .transaction-content {
   padding: 24px 12.5% 0;
    &-inner {
      max-width: 320px;
      margin: 0 auto;
      .transaction-product-image {
        width: 80%;
        margin: 10px auto;
      }
      .transaction-product-name{
        margin: 8px 0 0;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        text-align: center;
      }
      .transaction-form{
        .transaction-price-ja.bold {
          height: 41px;
          width: 320px;
          text-align: 42px;
          margin-top: 8px;
          text-align: center;
          font-size: 28px;
          font-weight: 600;
        .tax-include {
            font-size: 14px;
          }
        }

        .accordion-toggle {
          margin-top: 16px;
          .point_info {
            background-color: #FFF;
            margin-bottom: 0;
          }
        }

        .transaction-price-table {
          height: 60px;
          width: 320px;
          .transaction-price-row.transaction-you-pay.bold {
            height:58px;
            width: 320px;
            margin: 0 auto;
            margin-top: 8px;
            .transaction-price-cell {
              width: 140px;
              float: left;
              text-align: left;
              font-size: 28px;
              margin: 16px 0;
              font-weight: 600;
            }
            .transaction-price-cell-price {
              width: 180px;
              float: left;
              font-size: 28px;
              margin: 16px 0;
              font-weight: 600;
              text-align: right;
            }
          }
        }

        .transaction_info {
          text-align: center;
          color: red;
        }
        .signup-panel__inner-buy{
          margin-top: 16px;
          .payjp_form {
            padding: 10px 120px;
          }
        }
        .transaction_app_info {
          text-align: center;
        }

        .store_transaction {
          height: 40px;
          width: 320px;
          text-align: center;
          margin-top: 10px;
          .transaction_app {
            display: inline-block;
            vertical-align: middle;
          }

          .transaction_google-play {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .transaction-user-info {
    margin: 40px 0 0;
    padding: 24px 12.5% 0;
    border-top: 1px solid $Whitesmoke;
    transition: all ease-out .3s;
    &-text {
      margin-top: 8px;
    }

    &-fix {
      text-align: right;
    }

    .credit-info {
      padding-bottom: 40px;
    }
  }
}
